<div>
  <ion-range-calendar class="fade-in range-calendar" [(ngModel)]="dateRange" [options]="optionsCalendarRange" type="string" [format]="'yyyy-MM-dd'"></ion-range-calendar>

  <ion-grid class="grid-buttons">
    <ion-row class="row-buttons">
      <ion-col size="6" class="col-buttons">
        <ion-button class="btn-option txt-n" fill="clear" size="small"  (click)="cancelar()">Cancelar</ion-button>
      </ion-col>
      <ion-col size="6" clasS="col-buttons">
        <ion-button class="btn-option txt-b" fill="clear" size="small"  (click)="aceptarFiltros()">Aceptar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
