<ion-header>
  <ion-toolbar>
    <ion-title> Componente de Filtros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
          <app-filter> </app-filter>
        <div class="btnApp">
          <ion-button  (click)="aplicarFiltro()"  size="small">
            Aplicar filtro
          </ion-button>
          <ion-button  (click)="limpiarFiltros()"  size="small">
            Limpiar filtro
          </ion-button>
        </div>

        <ion-card>
          <ngx-datatable
            #table
            class="material"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [loadingIndicator]="loadingIndicator"
            [scrollbarH]="true"
            [limit]="10"
            [rows]="rows()"
          >

            <ngx-datatable-column [width]="120" prop="nombre">
              <ng-template
                let-column="column"
                ngx-datatable-header-template
                let-sort="sortFn"
              >
                <span class="tableHeader">Producto</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [width]="120" prop="categoria">
              <ng-template
                let-column="column"
                ngx-datatable-header-template
                let-sort="sortFn"
              >
                <span class="tableHeader">Categoria</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [width]="130" prop="fecha">
              <ng-template
                let-column="column"
                ngx-datatable-header-template
                let-sort="sortFn"
              >

                <span class="tableHeader">Fecha de alta</span>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
